* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6996F8;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: sticky;

    height: 35px;
    background-color: rgba(57, 57, 87, 0);

    color: rgb(255, 255, 255);
    font-weight: 600;
}

.navitem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navitem a {
    padding: 5px;

    text-decoration: none;
    color: white;
}

.logo a {
    font-size: 25px;
    padding-left: 10px;
    
    text-decoration: none;
    color: white;

}

.img_logo {
    height:100%; 
    width: auto; 
    max-width: 32px; 
    max-height: 32px;

    padding-left: 5%;
    padding-top: 2%;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: sticky;

    height: 6vh;
    /* margin-left: 3%;
    margin-right: 3%; */

    background-color: rgb(255, 255, 255);
    color: #286CFF;

    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
}

.bandeau {
    /* background-image: linear-gradient(rgba(13, 42, 49, 0.712), rgba(19, 85, 116, 0.479)), url(assets/img/polygone.jpg); */
    /* background-color: #716efd; */
    background-color: #6996F8;
    background-size: cover;
    background-repeat: no-repeat;
}

.first {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-top: 3vh;
    /* min-height: 40vh; */
    width: 100%;
}

.first h1 {
    font-size: 50px;
}

.first h2 {
    /* color: #5209fb; */
    color: #286CFF;
}

.first p {
    margin: 5%;
}

.avantage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(251, 255, 255);

    padding-bottom: 5%;
    padding-top: 2%;
}

.titre_av {
    /* color: #5317fa; */
    color: #3575FF;
}

.card_av {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.card_gau, .card_cen, .card_droi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 25%;

    border: 0px solid black;
    border-radius: 10px;
}

.card_cen {
    margin-left: 2%;
    margin-right: 2%;
}

.card_gau {
    margin-left: 2%;
}

.card_droi {
    margin-right: 2%;
}

.card_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    /* color: #5d5d5d; */
    color: #737373;
}

.card_text h3 {
    /* color: #8f8dff; */
    color: #93B2F4;
}

.specials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    /* background-color: #716efd; */
    background-color: #6996F8;
}

.titre_spe {
    color: white;

    padding-top: 2%;
    padding-bottom: 2%;
}

.card_text_spe p {
    color: #545454;
}

.card_text_spe h3 {
    color: #3575FF;
}

.panel_spe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 90%;

    padding: 2%;
    margin-bottom: 5%;

    background-color: white;

    border-radius: 15px;
}

.card_gau_spe, .card_droi_spe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40%;

    border: 0px solid black;
    border-radius: 10px;
}

.card_1, .card_2, .card_3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 70%;
}

.img_card {
    height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;
}

.img_centre {
    height: 100%; 
    width: 100%; 
    max-width: 300px; 
    max-height: 300px;
}
